<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Calculadora de IMC</title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >
</head>

<body>

    <div class="container">

        <h1>Calculadora de IMC</h1>

        <form method="POST">

            <label for="peso">
                Peso (kg)
            </label>

            <input
                type="number"
                id="peso"
                name="peso"
                step="0.01"
                min="0.01"
                required
            >

            <label for="altura">
                Altura (m)
            </label>

            <input
                type="number"
                id="altura"
                name="altura"
                step="0.01"
                min="0.01"
                required
            >

            <button type="submit">
                Calcular IMC
            </button>

        </form>

        {% if erro %}

            <div class="erro">
                {{ erro }}
            </div>

        {% endif %}


        {% if imc %}

            <div class="resultado">

                <p>Seu IMC é</p>

                <strong>
                    {{ "%.2f"|format(imc) }}
                </strong>

            </div>

        {% endif %}

    </div>

</body>

</html>